<th:block th:insert="~{/my/layout/header.html}"/>
            <div class="ordered">
                <th:block th:insert="~{/my/layout/aside.html}"/>
                    <article>
                        <h3>전체주문내역</h3>

                        <div class="byDate">
                            <span class="tit">기간별조회</span>                            
                            <ul class="date_3ea">
                                <li><a href="#"><em>1</em>주일</a></li>
                                <li><a href="#"><em>15</em>일</a></li>
                                <li><a href="#" class="on"><em>1</em>개월</a></li>
                            </ul>
                            <ul class="date_5ea">
                                <li><a href="#"><em>11</em>월</a></li>
                                <li><a href="#"><em>10</em>월</a></li>
                                <li><a href="#"><em>9</em>월</a></li>
                                <li><a href="#"><em>8</em>월</a></li>
                                <li><a href="#"><em>7</em>월</a></li>
                            </ul>
                            <p>
                                <input type="date" name="begin"><span>~</span><input type="date" name="end">
                            </p>
                            <button class="btnConfirm">조회하기</button>
                        </div>

                        <table border="0">
                            <th:block th:if="${#lists.isEmpty(orderDTO.getDtoList())}">
                                <tr>
                                    <td style="text-align: center">등록된 주문이 없습니다.</td>
                                </tr>
                            </th:block>
                            <th:block th:unless="${#lists.isEmpty(orderDTO.getDtoList())}">
                                <tr>
                                    <th>날짜</th>
                                    <th>상품정보</th>
                                    <th>상태</th>
                                    <th>확인/신청</th>
                                </tr>

                                <tr th:each="order:${orderDTO.getDtoList()}">
                                    <td class="date">[[${order.getOrdDate()}]]</td>
                                    <td>
                                        <a th:href="@{/product/view(prodCate1=${order.getProduct().getProdCate1()}, prodCate2=${order.getProduct().getProdCate2()}, prodNo=${order.getProductOrderItem().getProdNo()})}" class="thumb"><img th:src="@{/thumbs/}+${order.getProduct().getProdCate1()}+"/"+${order.getProduct().getProdCate2()}+"/"+${order.getProduct().getThumb1()}" alt="${order.getProduct().getProdName()}"></a>
                                        <ul>
                                            <li class="company">[[${order.getProduct().getCompany}]]</li>
                                            <li class="prodName"><a th:href="@{/product/view(prodCate1=${order.getProduct().getProdCate1()}, prodCate2=${order.getProduct().getProdCate2()}, prodNo=${order.getProductOrderItem().getProdNo()})}">[[${order.getProduct().getProdName}]]</a></li>
                                            <li>수량 : <span class="prodCount">[[${order.getProductOrderItem().getCount()}]]</span>개 / 주문번호 : <span class="ordNo">[[${order.getProductOrderItem().getOrdNo()}]]</span></li>
                                            <li class="prodPrice" th:text="${#numbers.formatInteger((order.getProductOrderItem().getPrice()-(order.getProductOrderItem().getPrice()*(order.getProductOrderItem().getDiscount()*0.01))), 3, 'COMMA')}"></li>
                                        </ul>
                                    </td>
                                    <td class="status">배송완료</td>
                                    <td class="confirm">
                                        <a href="#" class="receive">수취확인</a>
                                        <a href="#" class="review">상품평</a>
                                        <a href="#" class="refund">반품신청</a>
                                        <a href="#" class="exchange">교환신청</a>
                                    </td>

                                </tr>
                            </th:block>



                        </table>
                        <th:block th:unless="${#lists.isEmpty(orderDTO.getDtoList())}">
                            <p class="page">
                                <th:block th:if="${orderDTO.getPageGroupStart() gt 1}">
                                    <a th:href="@{/my/order(ordUid=${#authentication.principal.member.uid},pg=${orderDTO.getPageGroupStart() - 1})}" class="prev">이전</a>
                                </th:block>
                                <th:block th:each="num:${#numbers.sequence(orderDTO.getPageGroupStart(), orderDTO.getPageGroupEnd())}">
                                    <a th:href="@{/my/order(ordUid=${#authentication.principal.member.uid},pg=${num})}" th:classappend="${num eq orderDTO.getCurrentPage() ? 'on' : ''}" class="num">[[${num}]]</a>
                                </th:block>
                                <th:block th:if="${orderDTO.getPageGroupEnd() lt orderDTO.getLastPageNum()}">
                                    <a th:href="@{/my/order(ordUid=${#authentication.principal.member.uid},pg=${orderDTO.getPageGroupEnd() + 1})}" class="next">다음</a>
                                </th:block>

                            </p>
                        </th:block>

                    </article>                  

                    

                </section>

            </div>
        </div>
<th:block th:insert="~{/my/layout/footer.html}"/>