<aside>
  <h2>공지사항</h2>
  <ul th:if="${articles.cate1 =='notice'}">
    <li class="on"><a href="#">전체</a></li>
    <li><a href="#">고객서비스</a></li>
    <li><a href="#">안전거래</a></li>
    <li><a href="#">위해상품</a></li>
    <li><a href="#">4</a></li>
  </ul>
  <ul th:if="${articles.cate1 =='faq'}">
    <li class="on"><a href="#">전체</a></li>
    <li><a href="#">1</a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
  </ul>
  <ul th:if="${articles.cate1 =='qna'}">
    <li class="on"><a href="#">전체</a></li>
    <li><a href="#">5</a></li>
    <li><a href="#">6</a></li>
    <li><a href="#">7</a></li>
    <li><a href="#">8</a></li>
  </ul>
</aside>
