<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.lotteon.mapper.AdminCSMapper">


    <select id="selectNoticeList" resultType="kr.co.lotteon.dto.cs.CsArticleNoticeDTO">
        SELECT a.*, c.detail
        FROM lo_cs_article_notice a
        INNER JOIN lo_cs_cate2 c ON a.cate2 = c.cate2
        WHERE a.parent = 0
        ORDER BY a.no DESC LIMIT #{start}, 10;
    </select>

    <select id="NoticeListcs" resultType="kr.co.lotteon.dto.cs.CsArticleNoticeDTO">
        SELECT a.*, c.detail
        FROM lo_cs_article_notice a
        INNER JOIN lo_cs_cate2 c ON a.cate2 = c.cate2
        WHERE a.parent = 0 AND a.cate2 = "cs"
        ORDER BY a.no DESC LIMIT #{start}, 10;
    </select>

    <select id="NoticeListsafety" resultType="kr.co.lotteon.dto.cs.CsArticleNoticeDTO">
        SELECT a.*, c.detail
        FROM lo_cs_article_notice a
        INNER JOIN lo_cs_cate2 c ON a.cate2 = c.cate2
        WHERE a.parent = 0 AND a.cate2 = "safety"
        ORDER BY a.no DESC LIMIT #{start}, 10;
    </select>

    <select id="NoticeListdanger" resultType="kr.co.lotteon.dto.cs.CsArticleNoticeDTO">
        SELECT a.*, c.detail
        FROM lo_cs_article_notice a
        INNER JOIN lo_cs_cate2 c ON a.cate2 = c.cate2
        WHERE a.parent = 0 AND a.cate2 = "danger"
        ORDER BY a.no DESC LIMIT #{start}, 10;
    </select>

    <select id="NoticeListeveresult" resultType="kr.co.lotteon.dto.cs.CsArticleNoticeDTO">
        SELECT a.*, c.detail
        FROM lo_cs_article_notice a
        INNER JOIN lo_cs_cate2 c ON a.cate2 = c.cate2
        WHERE a.parent = 0 AND a.cate2 = "everesult"
        ORDER BY a.no DESC LIMIT #{start}, 10;
    </select>

    <select id="selectCountTotal" resultType="int">
        SELECT count(*)
        FROM lo_cs_article_notice
        WHERE parent = 0;
    </select>

</mapper>