<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.lotteon.mapper.MyinfoMapper">

    <select id="myinfoList" resultType="kr.co.lotteon.dto.MemberDTO">
        select * from lo_member where uid = #{uid};
    </select>

</mapper>