<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.lotteon.mapper.ProductOrderMapper">
    <select id="selectProductOrders" resultType="kr.co.lotteon.dto.product.ProductOrderDTO">
        SELECT a.*, b.*, c.prodCate1, c.prodCate2, c.company, c.thumb1, c.prodName
        FROM lo_product_order_item AS a
            JOIN lo_product_order AS b ON a.ordNo = b.ordNo
            JOIN lo_product AS c ON a.prodNo = c.prodNo
        WHERE b.ordUid = #{ordUid}
        ORDER BY a.ordNo DESC
        LIMIT #{startNum}, 10
    </select>
    <select id="selectProductOrdersDate" resultType="kr.co.lotteon.dto.product.ProductOrderDTO">
        SELECT a.*, b.*, c.prodCate1, c.prodCate2, c.company, c.thumb1, c.prodName
        FROM lo_product_order_item AS a
                 JOIN lo_product_order AS b ON a.ordNo = b.ordNo
                 JOIN lo_product AS c ON a.prodNo = c.prodNo
        WHERE b.ordUid = #{ordUid} AND b.ordDate BETWEEN DATE(#{beginDate})
            AND DATE(#{endDate})
        ORDER BY a.ordNo DESC
        LIMIT #{startNum}, 10
    </select>
    <select id="selectProductOrdersDate2" resultType="kr.co.lotteon.dto.product.ProductOrderDTO">
        SELECT a.*, b.*, c.prodCate1, c.prodCate2, c.company, c.thumb1, c.prodName
        FROM lo_product_order_item AS a
                 JOIN lo_product_order AS b ON a.ordNo = b.ordNo
                 JOIN lo_product AS c ON a.prodNo = c.prodNo
        WHERE b.ordUid = #{ordUid} AND b.ordDate BETWEEN DATE_SUB(NOW(), INTERVAL #{start} DAY)
            AND NOW()
        ORDER BY a.ordNo DESC
        LIMIT #{startNum}, 10
    </select>
</mapper>